@media screen and (max-width : 960px) {
/* Navbar Responsive */
    .navbar {
        width: 100%;
        height: 80px;
        max-width: 100% !important;
    }

    .navbar-brand {
        padding-left: 25px;
    }

    .navbar .container {
        display: flex;
        justify-content: space-between !important;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-nav {
        display: grid !important;
        grid-template-columns: auto !important;
        width: 100%;
        position: absolute !important;
        top: -1000px;
        opacity: 1;
        transition: all 0.3 ease;
        z-index: -1;
    }
    .navbar-nav.active {
        background: #131313;
        top: 10%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        height: 80vh;
        font-size: 1.6rem;
    }

    .nav-item {
        width: 100%;
    }

    .nav-link {
        text-align: center;
        padding: 2rem !important;
        width: 100%;
        display: table;
    }

    #mobile_menu {
        position: absolute;
        top: 25%;
        right: 3%;
        transform: translate(25%, 3%);
        height: 30px;
        width: 30px;
    }
    .navbar_toggler .bar{
        display: block;
        cursor: pointer;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }
    #mobile_menu.is-active .bar:nth-child(2) {
        opacity: 0;       
    }
    #mobile_menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile_menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar .navbar-collapse {
        margin-left: 25px !important;
        padding-left: 3rem !important;
        width: 100%;
    }

}

@media screen and (max-width : 769px) {

    .heading {
        padding-bottom: 20px !important;
    }
    
    .description {
        font-size: 45px;
    }

    .container {
        max-width: 720px;
    }
    
    .col-md-6 {
        max-width: 50%;
    }
    
    .gridder .grid-item {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
    .col-xl-3 {
      max-width: 25%;
    }
}

@media screen and (min-width: 992px) {
    .container {
      max-width: 990px;
    }
    .col-lg-4 {
      max-width: 33.33333%;
    }
    .col-lg-5 {
      max-width: 33.33333%;
    }
    .col-lg-6 {
      max-width: 50%;
    }
    .col-lg-7 {
      max-width: 66.66667%;
    }
    .offset-lg-1 {
      margin-left: 8.33333%;
    }
    .px-lg-3 {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    .col-lg-3 {
      max-width: 25%;
    }
    .pr-lg-3 {
      padding-right: 1rem !important;
    }
    .gridder .grid-item {
      width: 33.33333%;
    }
    .float-lg-right {
      float: right !important;
    }
}  